body {
  background-color: black !important;
  color: white !important;
}


.center {
  width: 100%;
  margin-left: auto;
  margin-top: 20%;
  margin-bottom: auto;
  margin-right: auto;
  min-height: 10em;
  vertical-align: middle;
  text-align: center;
}

h2 {
    font-size: 3em;
}
h3 {
    font-size: 1.25em;
}

h1, h2, h3, h4, h5 {
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-family: 'Indie Flower', cursive;
}
