{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
<!-- HEAD css / scripts -->
{% endblock %}
{% block content %}

<div class="container">
    <div style="padding-top:10%">
        <div class="jumbotron">
            <h1 class="display-3">Hey you!</h1>
            <p class="lead">My name is Weebo 😊. This is my console, feel free to ask me anything!</p>
            <hr class="my-4">

            <form id="consoleForm" method="post">
                <div class="form-group">
                    <label for="query">What would you like to say?</label>
                    <input type="query" class="form-control" id="query" name="query">

                    <label for="api">Brain:</label>
                    <select class="form-control" id="api" name="api">
                        <option>API AI</option>
                        <option>Wolfram Alpha</option>
                        <option>Wikipedia</option>
                    </select>

                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="whisper" name="whisper"> Whisper
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" name="ask">Ask</button>
                <button type="submit" class="btn btn-primary" name="say">Say</button>
            </form>
        </div>
    </div>
</div>

<!-- BODY css / scripts -->
{% endblock %}
