{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}


<div class="center">
  <h2>Hello! Salut! Bonjour! Gutentag! もしもし 你好</h2>
  <br>
  <h3>I am Weebo 😊</h3>
</div>


<div class="row h-100 justify-content-center align-items-center">

    <form action="" method="post">
        {{ form.csrf }}
        <div class="form-group">
          <label for="query">What would you like to say?</label>
          <input type="query" class="form-control" id="query" name="query">

          <label for="api">Brain:</label>
          <select class="form-control" id="api" name="api">
            <option>API AI</option>
            <option>Wolfram Alpha</option>
            <option>Wikipedia</option>
          </select>

          <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="whisper" name="whisper"> Whisper
          </label>

        </div>
        <button type="submit" class="btn btn-primary" name="ask">Ask</button>
        <button type="submit" class="btn btn-primary" name="say">Say</button>
    </form>
</div>
{% endblock %}
